.shopping {
  height: 148px;
  background: #F8F3F4;
  &__header {
    height: 148px;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
}
.shoppingCart {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  &__cards {
    width: 652px;
    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 72px;
      & button {
        padding: 0 39px;
        height: 50px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        background: none;
        color: #000000;
        border: 1px solid #A4A4A4;
        text-transform: uppercase;
        cursor: pointer;
        @media (min-width: 768px) and (max-width: 1600px) {
          text-transform: uppercase;
          &:not(:last-child) {
            margin-right: 48px;
          }
        }
        @media (max-width: 767px) {
          padding: 0 20px;
          height: 33px;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #575757;
          text-transform: none;
        }
      }
      @media (min-width: 768px) and (max-width: 1600px) {
        justify-content: center;
        margin-top: 62px;
      }
      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }
    @media (min-width: 768px) and (max-width: 1600px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__shipping {
    width: 360px;
    &__adress {
      width: 360px;
      display: flex;
      flex-direction: column;
      & h3 {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-top: 17px;
      }
      & input {
        padding: 13px 0 16px 17px;
        font-weight: 300;
        font-size: 13px;
        border: 1px solid #A4A4A4;
        margin-top: 20px;
        &::placeholder {
          color: #222222;
        }
      }
      & button {
        width: 110px;
        font-weight: 300;
        font-size: 11px;
        background: none;
        border: 1px solid #A4A4A4;
        padding: 10px 15px 12px 15px;
        color: #4A4A4A;
        margin-top: 24px;
        margin-bottom: 57px;
        text-transform: uppercase;
        cursor: pointer;
        @media (min-width: 768px) and (max-width: 1600px) {
          margin-bottom: 0;
          text-transform: uppercase;
        }
        @media (max-width: 767px) {
          text-transform: none;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &__proceed {
      height: 214px;
      width: 360px;
      background: #F5F3F3;
      &__sub {
        font-size: 11px;
        color: #4A4A4A;
        text-align: right;
        padding-top: 39px;
        padding-right: 34px;
        padding-bottom: 12px;
        & span {
          margin-left: 25px;
        }
      }
      &__grand {
        font-weight: 300;
        font-size: 16px;
        text-align: right;
        color: #222222;
        padding-right: 37px;
        padding-bottom: 21px;
        & span {
          margin-left: 25px;
          color: #F16D7F;
          font-weight: 700;
        }
      }
      &__checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__dividerGray {
          height: 1px;
          width: 275px;
          background: #E2E2E2;
          margin-bottom: 17px;
        }
        & button {
          height: 50px;
          width: 273px;
          background: #F16D7F;
          font-weight: 300;
          font-size: 16px;
          color: #FFFFFF;
          border: none;
          cursor: pointer;
        }
      }
      
      @media (min-width: 768px) and (max-width: 1600px) {
        margin-top: 56px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (min-width: 768px) and (max-width: 1600px) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 47px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1600px) {
    flex-direction: column;
    width: 100%;
    margin-top: 59px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
    margin-top: 39px;
    margin-bottom: 96px;
  }
}