.container {
  max-width: 1140px;
  margin: 0 auto;
  @media (min-width: 768px) and (max-width: 1600px) {
      padding-right: 16px;
      padding-left: 16px;
  }
  @media (max-width: 767px) {
      padding-right: 8px;
      padding-left: 8px;
  }
}