.subscribe {
  height: 448px;
  background-image: url(/images/photo_subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__blocks {
    height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    &__left {
      max-width: 360px;
      &__usertext {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #222224;
        padding-top: 30px;
        & span {
          font-style: italic;
        }
      }
      @media (min-width: 768px) and (max-width: 1600px) {
        margin-top: 54px;
        margin-bottom: 65px;
      }
      @media (max-width: 767px) {
        margin-top: 54px;
        margin-bottom: 59px;
      }
    }
    &__right__subscribeTitle {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
      color: #222224;
    }
    &__right__subscribeText {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #222224;
      padding-bottom: 32px;
      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 21px;
        color: #222224;
      }
    }
    &__right__form {
      height: 49px;
      & input {
        height: inherit;
        background: #E1E1E1;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: 6px 50px;
        box-sizing: border-box;
        float: left;
        color: #222224;
        font-family: Lato, sans-serif;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.67;
        @media (max-width: 767px) {
          padding: 6px 25px;
        }
      }
      & button {
        height: inherit;
        background: #E05C6E;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        color: #FFFFFF;
        font-family: Lato, sans-serif;
        font-size: 14px;
        line-height: 17px;
        padding: 0 17px;
        @media (max-width: 767px) {
          padding: 0 10px;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 1600px) {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    @media (max-width: 767px) {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }
  @media (min-width: 768px) and (max-width: 1600px) {
    height: 614px;
  }
  @media (max-width: 767px) {
    height: 550px;
  }
}


.footer {
  background: #222224;
  height: 79px;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 79px;
    &__left {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        @media (max-width: 767px) {
            position: relative;
            bottom: -115px;
        }
    }
    &__right {
      width: 148px;
      height: 32px;
      display: flex;
      justify-content: space-between;
      &__link {
        background-color: #FFFFFF;
        text-decoration: none;
        height: 32px;
        width: 32px;
        & img {
          margin-top: 7px;
        }
      }
      & a:hover {
        background: #F16D7F;
        color: #FFFFFF;
      }
      @media (max-width: 767px) {
        position: relative;
        top: -60px;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
      height: 130px;
    }
  }
  @media (max-width: 767px) {
    height: 143px;
  }
}